body {
    background-color: rgb(230, 210, 170);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content {
    background-color: #f5f5dc62; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], 
input[type="email"], 
input[type="tel"] {
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: border 0.3s ease;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus {
    border-color: #3498db; 
    outline: none;
}

input[type="text"]:hover, 
input[type="email"]:hover, 
input[type="tel"]:hover {
    border-color: #888;
}

input[type="text"] {
    background-color: #fff;
}

input[type="email"] {
    background-color: #fff;
}

input[type="tel"] {
    background-color: #fff;
}

input[type="text"].text {
    height: 100px;
    resize: none;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea {
    width: 100%;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 100;
}

input[type="email"]:hover + .tooltip,
input[type="tel"]:hover + .tooltip {
    display: block; 
}

li {
    position: relative;
}

input[type="email"]:hover + .tooltip {
    bottom: -20px;
    right: 10px;
}

input[type="tel"]:hover + .tooltip {
    bottom: -20px;
    right: 10px;
}
